# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/

# Vite cache
.vite/
.cache/

# Local env files
.env
.env.local
.env.development.local
.env.production.local

# Docker junk
docker-compose.override.yml
docker-data/
*.pid

# System files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
